.firstLayer{
  background-color: white;
  padding:10px;
}

.secondLayer{
  background: url('https://th.bing.com/th/id/Rbfc9c306f9a0f47b753d8f25b15a866c?rik=egey7Aa7ZsxUYA&pid=ImgRaw') "cover";
}

.thirdLayer{
   width:fit-content;
   background-color: white;
   opacity: 60%;
}

